html {
  width: 960px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

#headerLeft {
  display: inline;
}

#headerP1 {
  margin-left: 5px;
  position: absolute;
  display: inline;
  font-family: 'Yellowtail', cursive;
  font-size: 34px;
  font-weight: bold;
}

#headerP2 {
  margin-left: 5px;
  display: inline;
  color: gray;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#headerImages {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

li {
  display: inline;
  vertical-align: middle;
}

#rssImage {
  margin-left: 10px;
}

#test {
  display: block;
  margin-top: 20px;
  background-color: lightgrey;
}

.lineAcross {
  display: inline-block;
}

#mainTop {
  display: block;
  margin-top: 35px;
}

h1 {
  font-size: 44px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

h2 {
  color: lightgray;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
}

#printWord {
  position: relative;
  color: lightgray;
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#printLogo {
  position: relative;
  display: inline-block;
  float: right;
  padding-top: 4px;
  vertical-align: middle;
}
#mainImage {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-size: cover;
}

#mainText p{
  margin-top: 10px;
  font-size: 22px;
}

#checkList {
  margin-top: 35px;
  display: block;
  width: 100%;
  margin-bottom: 35px;
}

#aboutVanessa{
  display: block;
}

#vanessaInfo {
  margin-top: 35px;
}

#vanessaPic {
  display: inline;
}

#vanessaName {
  margin-left: 5px;
  position: absolute;
  display: inline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
}

#vanessaProfile {
  margin-left: 5px;
  display: inline;
  color: black;
  font-size: 18px;
  width: 600px;
}

#shareText {
  display: inline;
  width: 145px;
  height: 30px;
  background-color: rgb(219, 66, 66);
  float: right;
  vertical-align: middle;
  padding-top: 15px;
  text-align: center;
  color: white;
}

footer{
  width: 100%;
  height: 100px;
  margin-top: 35px;
  display: block;
}

#footerLine {
  position: relative;
  margin-top: 25px;
  height: 1px;
  background-color: lightgray;
}

#smallLogo {
  margin-top: 35px;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.footerText{
  width: 100%;
  text-align: center;
}